.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;

  li {
    color: #2e65bc;
    border-bottom: transparent solid 1px;

    &:hover{
      border-bottom: #2e65bc solid 1px;
    }
    
    img {
      width: 2rem;
    }
  }
}

.userIcon {
  img {
    border-radius: 50%;
  }
}

.dropdownContent {
  position: absolute;
  top: 50px;
  right: 0;
  overflow: hidden;
  width: max-content;
  max-height: 0;
  z-index: 100;

  li {
    &::after {
      height: 3px;
      width: 0;
      left: 0;
      bottom: 0;
      transition: 300ms;
    }
  }

  a {
    color: #2e65bc;
  }
}

.dropdownSub {
  z-index: 100;
  padding: 1rem;
  background: #fff;
  border-radius: 0rem 0rem 1rem 1rem;

  ul {
    margin: 0;
    padding: 0;

    a {
      display: inline-block;
      padding: 0.3rem;
    }
  }
}

.userIcon:focus ~ .dropdownContent {
  max-height: 500px;
  -webkit-transition: max-height 800ms ease-in;
  -moz-transition: max-height 800ms ease-in;
  transition: max-height 800ms ease-in;
}

.dropdownContent:hover {
  max-height: 500px;
}
