.content{
    padding: 1rem;
    max-width: 1300px;
    min-width: 1000px;



    h1{
        color: #2E65BC;
        font-weight: 600;
    }

}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}