# hardhat artifacts
/iteration-2.0/Blockchain/artifacts
/iteration-2.0/Blockchain/cache

# dependencies
/iteration-2.0/Blockchain/node_modules
/iteration-2.0/Frontend/node_modules
/iteration-2.0/Frontend/.next

# misc

# debug

# local env files
config.env