.main {
  display: flex;
  flex-direction: row;
  padding: 4rem 1.5rem;
}

.menu {
  margin-right: 10rem;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5rem;
    color: #2e65bc;
  }

  button {
    all: unset;
    color: #2e65bc;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    margin: 1rem 0;
    transition: 300ms ease;

    &:hover {
      transform: scale(0.97);
      opacity: 0.9;
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row!important;
  justify-content: space-between;
  align-items: center;
}

.imageBx {
  width: 116px;

  img {
    width: 100%;
    border-radius: 50%;
  }
}

.form {
  display: flex;
  flex-direction: column;

  button {
    background: #2e65bc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border: unset;
    padding: 0.7rem;
    width: max-content;
    color: white;
    font-size: 1.2rem;
    margin: 2rem 0 0 auto;

    transition: 300ms;

    &:hover {
      opacity: 0.9;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.column {
  margin-right: 4rem;

  input {
    width: 500px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;

  label {
    margin: 1rem 0;
    color: #2e65bc;
    font-size: 1.1rem;
    font-weight: 500;
  }

  input {
    background: rgba(247, 247, 247, 0.96);
    border: 1px solid rgba(112, 112, 112, 0.46);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
    padding: 0.7rem 1rem;

    &::placeholder {
      font-size: 1rem;
    }
  }
}

.walletBx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 500px;

  div {
    top: -2.5rem;
    right: -80%;
    padding: 0.2rem 0.6rem 0.2rem 0.2rem;
  }

  svg {
    transition: 200ms;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }
}
