.modalContentWrapper {
  z-index: 1000;
  background: #ffffff;
  border: 1px solid #2e65bc;
  border-radius: 0.5rem;
  position: absolute;
  padding: 0.5rem;
  top: 0;
  right: 0;
  margin: 0.5rem;
  transition: 200ms;
}

.modalContent {
  p {
    font-size: 0.8rem;
  }

  svg{
    position: absolute;
    fill: #2e65bc;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 0.2rem;

    &:hover{
        scale: 1.1;
    }
  }
}
