@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

.body {
  overflow-x: hidden;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 64px);
}

.title {
  h1 {
    color: #2e65bc;
    font-weight: 700;
    font-size: 48px;
    position: absolute;
    width: 390px;
    height: 93px;
    left: 66px;
    top: 219px;
  }
  h2 {
    color: #2e65bc;
    font-weight: 500;
    font-weight: 32px;
    position: absolute;
    width: 376px;
    height: 93px;
    left: 66px;
    top: 342px;
  }
}

.gradiente {
  position: relative;
  width: 346px;
  height: 553px;
  left: 31.9rem;
  z-index: 1;
  img {
    height: calc(100vh - 64px);
  }
}

.imgContainer {
  position: relative;
  width: 785px;
  height: 553px;
  left: 100px;
  img {
    height: calc(100vh - 64px);
  }
}

.texts {
  margin-top: 30px;
  margin-left: 40px;
  h3 {
    position: inherit;
    padding-top: 40px;
    font-size: 27px;
    color: #2e65bc;
    justify-self: unset;
    right: 15rem;
  }
  p {
    position: inherit;
    margin-top: 20px;
    color: #3e3e3e;
    font-weight: 500;
    right: 15rem;
  }
}

.esg {
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  .esgTexts {
    position: relative;
    left: 20rem;
    margin-top: 20px;
    h3 {
      color: #66a570;
      text-align: right;
      font-size: 36px;
      font-weight: 600;
    }
    p {
      margin-top: 50px;
      text-align: right;
      line-height: 20px;
      color: #3e3e3e;
      font-weight: 500;
    }
  }
}

.esgMessage {
  margin-top: 50px;
  text-align: center;
  line-height: 20px;
  color: #3e3e3e;
  font-weight: 500;
}

.nftContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
  h3 {
    color: #66a570;
    font-weight: 500;
    font-size: 40px;
  }
  p {
    margin-top: 15px;
    color: #3e3e3e;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
