:root {
  --white: #fff;
  --gray-50: #fafafa;
  --gray-100: #f3f3f3;
  --gray-200: #6f6f6f;
  --gray-900: #181818;
  
  --blue-100: #2e65bc
  --blue-800: #153a74
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  color: var(--gray-900);
}

p{
  margin: 0!important;
  padding: 0!important;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px;
  }
}

body {
  background: var(--white);
}

button {
  cursor: pointer;
}

a{
  text-decoration: none!important;
  cursor: pointer;

  &:visited{
    color: unset
  }
}

ul{
  list-style-type: none;
}

*:focus{
  outline: none;
}