.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textConatainer {
  h1 {
    color: #2e65bc;
    font-weight: 600;
    font-size: 2rem;
  }
  h3 {
    color: #2e65bc;
    font-weight: 600;
  }
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;

  a {
    background: #2e65bc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    transition: 200ms;

    &:hover {
      scale: 1.05;
    }
  }
}
.lottie {
  width: 35%;
}
