.headerContainer{
    background: (--gray-50);
    height: 4rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2rem;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}